
{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - project_short_name
 * - css_files
 * - js_files
 * - html_files
 * - favicon_url
 * - img_url
 * - lang_code
 * - lang_code_extended
 * - favicon_color
 *
 */
#}

<div class="block-appointments">
    <div class="wrapper">
        <h2 class="is-slick-control"><button class="slick-prev slick-arrow"><i class="i-arrow-left"></i></button>Les rendez-vous<button class="slick-next slick-arrow"><i class="i-arrow-right"></i></button></h2>
        <div class="list-appointments">
            <div class="item">
                <div class="thumb" style="background-image: url('{{ img_url }}CPAM-Photo.png')">
                    <div class="logo">
                        <img src="{{ img_url }}CPAM.png" alt="CPAM">
                    </div>
                </div>
                <div class="content">
                    <p class="title-4">Caisse Primaire d’Assurance Maladie </p>
                    <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. …</p>
                    <a href="#" class="btn-default"><i class="i-calendar"></i>Prendre rendez-vous</a>
                </div>
            </div>
            <div class="item">
                <div class="thumb" style="background-image: url('{{ img_url }}CAF-Photo.png')">
                    <div class="logo">
                        <img src="{{ img_url }}CAF.png" alt="CAF">
                    </div>
                </div>
                <div class="content">
                    <p class="title-4">Caisse d’Allocations Familales</p>
                    <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ex dolor, ornare et semper …</p>
                    <a href="#" class="btn-default"><i class="i-calendar"></i>Prendre rendez-vous</a>
                </div>
            </div>
            <div class="item">
                <div class="thumb" style="background-image: url('{{ img_url }}RATP-Photo.png')">
                    <div class="logo">
                        <img src="{{ img_url }}RATP.png" alt="RATP">
                    </div>
                </div>
                <div class="content">
                    <p class="title-4">RATP</p>
                    <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ex dolor, ornare et semper …</p>
                    <a href="#" class="btn-default"><i class="i-calendar"></i>Prendre rendez-vous</a>
                </div>
            </div>
            <div class="item">
                <div class="thumb" style="background-image: url('{{ img_url }}CPAM-Photo.png')">
                    <div class="logo">
                        <img src="{{ img_url }}CPAM.png" alt="CPAM">
                    </div>
                </div>
                <div class="content">
                    <p class="title-4">Caisse Primaire d’Assurance Maladie </p>
                    <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ex dolor, ornare et semper …</p>
                    <a href="#" class="btn-default"><i class="i-calendar"></i>Prendre rendez-vous</a>
                </div>
            </div>
            <div class="item">
                <div class="thumb" style="background-image: url('{{ img_url }}CAF-Photo.png')">
                    <div class="logo">
                        <img src="{{ img_url }}CAF.png" alt="CAF">
                    </div>
                </div>
                <div class="content">
                    <p class="title-4">Caisse d’Allocations Familales</p>
                    <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ex dolor, ornare et semper …</p>
                    <a href="#" class="btn-default"><i class="i-calendar"></i>Prendre rendez-vous</a>
                </div>
            </div>
            <div class="item">
                <div class="thumb" style="background-image: url('{{ img_url }}RATP-Photo.png')">
                    <div class="logo">
                        <img src="{{ img_url }}RATP.png" alt="RATP">
                    </div>
                </div>
                <div class="content">
                    <p class="title-4">RATP</p>
                    <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ex dolor, ornare et semper …</p>
                    <a href="#" class="btn-default"><i class="i-calendar"></i>Prendre rendez-vous</a>
                </div>
            </div>
        </div>
    </div>
    <div class="feature" style="background-image: url('{{ img_url }}dates.png')"></div>
</div>
