
{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - project_short_name
 * - css_files
 * - js_files
 * - html_files
 * - favicon_url
 * - img_url
 * - lang_code
 * - lang_code_extended
 * - favicon_color
 *
 */
#}

<div class="block-clients">
    <div class="wrapper">
        <div class="list-logos">
            <div>
                <img src="{{ img_url }}CPAM.png" alt="">
            </div>
            <div>
                <img src="{{ img_url }}Prefet.png" alt="">
            </div>
            <div>
                <img src="{{ img_url }}CAF.png" alt="">
            </div>
            <div>
                <img src="{{ img_url }}Crous.png" alt="">
            </div>
            <div>
                <img src="{{ img_url }}PoleEmploi.png" alt="">
            </div>
            <div>
                <img src="{{ img_url }}RATP.png" alt="">
            </div>
            <div>
                <img src="{{ img_url }}CPAM.png" alt="">
            </div>
            <div>
                <img src="{{ img_url }}Prefet.png" alt="">
            </div>
            <div>
                <img src="{{ img_url }}CAF.png" alt="">
            </div>
            <div>
                <img src="{{ img_url }}Crous.png" alt="">
            </div>
            <div>
                <img src="{{ img_url }}PoleEmploi.png" alt="">
            </div>
            <div>
                <img src="{{ img_url }}RATP.png" alt="">
            </div>
        </div>
    </div>
</div>
