
{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - project_short_name
 * - css_files
 * - js_files
 * - html_files
 * - favicon_url
 * - img_url
 * - lang_code
 * - lang_code_extended
 * - favicon_color
 *
 */
#}

<div class="block-content-page">
   <div class="wrapper">
       <div class="editor-cms">
           <div class="wrap">
               <h2>Qu'est-ce que le GATE</h2>
               <p>L’accueil des internationaux est un enjeu majeur pour le rayonnement universitaire et scientifique de l’ensemble des universités, des établissements d’enseignement supérieur et des centres de recherche du territoire du Cluster Paris-Saclay.</p>
               <p>C’est une condition essentielle pour réussir la création d’un campus de rang mondial. Les étudiants et chercheurs internationaux représentent aujourd’hui 23% de la population totale du Cluster Paris-Saclay. Actuellement de l’ordre 20.000 personnes, leur nombre devrait considérablement évoluer dans les années à venir avec le développement du Cluster.</p>
               <p>Le Guichet d’Accueil des Talents Étrangers (GATE), a été inauguré sur le campus d’Orsay de l’Université Paris-Sud, le 6 septembre 2018 par la Présidente de l’Université Paris-Sud et par les trois membres fondateurs, la Sous-Préfecture de Palaiseau, l’Université Paris-Saclay et l’association Science Accueil.</p>
               <p>Étudiants, scientifiques et salariés internationaux qui rejoignent le cluster Paris-Saclay peuvent désormais accomplir, en un seul lieu, les principales démarches administratives et pratiques liées à leur installation et leur séjour en France.</p>

               <h3>Les coordinateurs qui sont-ils ?</h3>
               <p>Sur le territoire de Paris-Saclay en plein essor,  la Sous-Préfecture de Palaiseau, l’Université Paris-Saclay et l’association Science Accueil ont rassemblé leurs forces pour mettre en place un dispositif efficace d’accueil des étudiants, chercheurs et salariés des centres de R&D, et rendre attractive et visible à l’échelle mondiale l’hospitalité de ce cluster scientifique.
                   Les Coordinateurs du dispositif GATE sont les suivants :</p>
               <ul>
                   <li>l’Université Paris-Saclay, représentée par la direction Vie de Campus, qui pilote et anime l’accueil international des établissements de la COMUE ; elle accompagne la plateforme dans les domaines suivants :
                       <ul>
                           <li>par son expertise en communication interculturelle et en traduction (groupe LINkS et International Office)</li>
                           <li>par le biais de son application numérique d’accueil des ressortissants internationaux <a href="#">e-International Welcome Solution</a></li>
                       </ul>
                   </li>
                   <li>la Sous-Préfecture de Palaiseau, en charge la délivrance des titres de séjours, l’information des partenaires sur les évolutions de l’environnement juridique de cette mission ;</li>
                   <li>l’association Science Accueil, organisme spécialisé depuis 20 ans dans l’accompagnement des scientifiques nationaux et internationaux en mobilité entrante sur le territoire d’Ile-de-France, ainsi que leur famille.</li>
               </ul>
               <p>Ensemble, ils pilotent la <strong>Guichet d’Accueil des Talents Etrangers</strong>(GATE), qui regroupe sous une bannière unique de multiples administrations et opérateurs.</p>
           </div>
       </div>
       <div class="block-testimonials">
           <div class="item">
               <div class="thumb">
                   <img src="{{ img_url }}testi1.png" alt="">
               </div>
               <div class="content">
                   <blockquote><p>Nunc dapibus dolor mattis rhoncus pharetra. Vestibulum ante ipsum primis in faucibus orci luctus</p></blockquote>
               </div>
           </div>
           <div class="item">
               <div class="thumb">
                   <img src="{{ img_url }}testi2.png" alt="">
               </div>
               <div class="content">
                   <blockquote><p>Nunc dapibus dolor mattis rhoncus pharetra. Vestibulum ante ipsum primis in faucibus orci luctus</p></blockquote>
               </div>
           </div>
           <div class="item">
               <div class="thumb">
                   <img src="{{ img_url }}testi1.png" alt="">
               </div>
               <div class="content">
                   <blockquote><p>Nunc dapibus dolor mattis rhoncus pharetra. Vestibulum ante ipsum primis in faucibus orci luctus</p></blockquote>
               </div>
           </div>
           <div class="item">
               <div class="thumb">
                   <img src="{{ img_url }}testi2.png" alt="">
               </div>
               <div class="content">
                   <blockquote><p>Nunc dapibus dolor mattis rhoncus pharetra. Vestibulum ante ipsum primis in faucibus orci luctus</p></blockquote>
               </div>
           </div>
       </div>
       <div class="editor-cms">
           <div class="wrap">
               <h3>La devise du GATE</h3>
               <p>Sa devise, “Ex pluribus, unum“, en anglais “Out of many, one“, illustre bien l’objectif que la plateforme s’est assignée, c’est à dire de faire converger les forces des différents acteurs pour une même cause : réduire l’itinéraire de la mobilité et procurer en un seul lieu et un minimum de temps, toutes les solutions afin d’obtenir les différents sésames nécessaires à la vie en France.</p>
           </div>
           <figure>
               <img src="{{ img_url }}img1.png" alt="">
           </figure>
           <div class="wrap">
               <h3>Un guichet unique : pourquoi, pour qui et comment faire ?</h3>
               <p>La mise en place de cette plateforme multiservices a été actée, le 3 mars 2017, par la signature officielle d’une convention avec l’Etat. </p>
               <a href="#" class="btn-link">Télécharger la convention <i class="i-download"></i></a>

               <p>Cette plateforme est dédiée à l’accueil des étudiants,  chercheurs, salariés et collaborateurs internationaux des établissements scientifiques signataires de la convention, et leur famille.<br>
                   Cette plateforme permet en un lieu unique d’accomplir la plupart des formalités d’installation en y trouvant trois types d’aide par le biais d’une présence physique ou par la mise à disposition d’outils numériques des acteurs principaux :
               </p>
               <ul>
                   <li>des guichets préfectoraux</li>
                   <li>des opérateurs principaux tels que la CAF, la CPAM, la DIRECCTE, le CROUS, la RATP…</li>
                   <li>des <a href="#">applications</a> dématérialisées pour vous aider dans la préparation de votre séjour en France </li>
                   <li>des personnels de Science Accueil pour l’information et la vérification de votre dossier </li>
               </ul>
           </div>
           <figure>
               <img src="{{ img_url }}img2.png" alt="">
           </figure>
           <div class="wrap">
               <p>Quinze établissements d’enseignements d’Enseignement Supérieur et Centres de Recherche se sont associés à cette démarche. Ainsi, vous disposerez très probablement dans votre établissement d’un référent qui vous aidera à préparer votre dossier et toutes les pièces nécessaires à valider les formalités à accomplir sur le GATE. Science Accueil se substituera à l’absence de référents le cas échéant. Quoiqu’il en soit n’hésitez pas à venir nous rencontrer au GATE pour avoir des informations.</p>
           </div>
       </div>
   </div>

    {% include '_statistic.twig' %}

</div>
